<ion-content *ngIf="selectedDay$ | async" color="light" class="ion-padding">
  <div class="divDay">
  <p><b>{{(selectedDate$ | async)!.fullDate}}</b><br> ipsum dolor sit amet consectetur adipisicing elit. Quia
    neque cumque quisquam esse dicta, repellendus itaque ipsa? Aliquam, vitae quas modi inventore ipsa nam soluta
    iure, dolorum dolor dolorem non.</p>
  <ion-button fill="clear" (click)="clearDate()"><ion-icon name="close-circle-sharp"></ion-icon></ion-button>
</div>
<ion-button fill="clear" (click)="add()"><span>Добавить задание</span><ion-icon name="add-circle"></ion-icon></ion-button>
<div class="text" [class.text]="isActive">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-select formControlName="type" interface="popover" placeholder="Выберете тип">
          <ion-select-option *ngFor="let type of types" [value]="type.key" value="">{{type.value}}</ion-select-option>
        </ion-select>
      </ion-item>

    <ion-item *ngIf="form.get('title')" >
      <ion-label position="floating">{{placeHolderTitle}}</ion-label>
      <ion-input formControlName="title" type="text" [clearInput]="true" placeholder="Ваш текст:"></ion-input>
    </ion-item>

    <ion-item *ngIf="form.get('text')" >
      <ion-label position="floating">{{placeHolderText}}</ion-label>
      <ion-input formControlName="text"  type="text" [clearInput]="true" placeholder="Ваш текст:"></ion-input>
    </ion-item>

    <ion-item *ngIf="form.get('eventType')">
      <ion-label position="floating">Укажите тип события</ion-label>
      <ion-input formControlName="eventType"  type="text" [clearInput]="true" placeholder="Ваш текст:"></ion-input>
    </ion-item>

    <ion-item *ngIf="form.get('targetDate')">
      <span>{{placeHolderTargetDate}}</span>
      <ion-datetime formControlName="targetDate" presentation="time"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-select formControlName="description" *ngIf="form.get('description')" interface="popover" placeholder="Выберете график">
        <ion-select-option *ngFor="let shift of shifts" [value]="shift.key" value="">{{shift.value}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="form.get('start')">
      <span>Укажите время начала смены</span>
      <ion-datetime formControlName="start" presentation="time"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="form.get('duration')">
      <ion-label position="floating">Укажите кол-во ч смены</ion-label>
      <ion-input formControlName="duration" type="number" [clearInput]="true" placeholder="00:00" ></ion-input>
    </ion-item>

    <ion-item *ngIf="form.get('hourlyRate')" >
      <ion-label position="floating">Укажите почасовую ставку руб</ion-label>
      <ion-input formControlName="hourlyRate" type="number" [clearInput]="true" placeholder="00:00" ></ion-input>
    </ion-item>

    <ion-button  fill="clear" [disabled]="form.invalid"  type="submit">Сохранить</ion-button>

  </form>
  <app-switch-edit>
    <app-switch-edit-content>
      Первый
    </app-switch-edit-content>
    <app-switch-edit-content-editor>
      Второй
    </app-switch-edit-content-editor>
  </app-switch-edit>
  <!-- <div *ngFor="let dateText of (data$ | async)">
    <span >{{dateText}}</span>
  </div> -->
</div>
</ion-content>


