:host {
  height: 100%;
  width: 100%;
  padding: 3px;
  display: flex;
  flex-direction: column;
}
.badge{
  display: flex;
}
ion-badge{
  --padding-bottom:5px;
  --padding-end:5;
  --padding-start:5px;
  --padding-top:5px;

}