<app-default-layout></app-default-layout>
<h1>App component</h1>

<div class="container">
    <div class="container-input">
        <h2>Первый инпут</h2>
        <input #inp1>
        <button (click)="handlerFirstInput(inp1.value)">{{inp1.value ? 'Текст из поля:  ' + inp1.value : 'НАЧНИ набирать и потом нажми'}}</button>
        <br>
        <h4>Значение из этого поля</h4>
        <pre>{{ firstInputValue$ | async }}</pre>
    </div>

    <!-- Используй NgModel для взаимодействия с инпутом https://www.c-sharpcorner.com/article/ngmodel-in-angular-with-example/ -->
    <div class="container-input">
        <h2>Второй инпут</h2>
        <input [(ngModel)]="name">
        <button (click)="handlerSecondInput(name)">{{name ? 'Текст из поля:  ' + name : 'НАЧНИ набирать и потом нажми'}}></button>
        <br>
        <h4>Значение из этого поля</h4>
        <pre>{{ secondInputValue$| async }}</pre>
    </div>

    <!-- Используй директиву *ngIf для скрытия кнопки "Передать...", если в инпуте пусто и для скрытия кнопки "Очистить " - если в поле есть значение -->
<!--     https://angdev.ru/guide/directives/structure-directive/  https://www.c-sharpcorner.com/blogs/ngif-in-angular-with-example -->
    <div class="container-input">
        <h2>Третий инпут</h2>
        <input [(ngModel)]="name1">
        <button (click)="handlerThirdInput(name1)">{{name1 ? 'Текст из поля:  ' + name1 : 'НАЧНИ набирать и потом нажми'}}></button>
        <button *ngIf="name1" (click)="clearInput(name1)">Очистить поле</button>
        <br>
        <h4>Значение из этого поля</h4>
        <pre >{{thirdInputValue$| async }}</pre>
    </div>
</div>

<button (click)="increment()">+</button>
<button (click)="decrement()">-</button>

<p>Count: <span [textContent]="count$ |async"></span></p>
<p>Count: <span [textContent]="count1$ |async"></span></p>
<p>Count: <span [textContent]="count2$ |async"></span></p>


