.container {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
    &-input {
        display: flex;
        flex-direction: column;
        gap: 12px;
        border: 2px solid gray;
        border-radius: 8px;
        padding: 5px;
        max-width: 300px;
        flex-wrap: wrap;

        > input {
            padding: 5px;
        }

        > pre {
            border: 1px solid gray;
            padding: 0 5px;
            font-size: 25px;
            background-color: rgb(180, 250, 255);
            height: 30px;
            display: flex;
            align-items: center;
        }
    }

}

button {
    padding: 7px 14px;
}