<button (click)="prev()" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
  <mat-icon>
    chevron_left
  </mat-icon>
</button>
<span class="data">{{ viewDate$|async}} </span>
<button (click)="next()" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
  <mat-icon>
    chevron_right
  </mat-icon>
</button>

<mat-grid-list cols="7" rowHeight="2:1">
  <mat-grid-tile *ngFor="let day of month$|async" (click)="setDay(day)" class="day">
    <p>{{day === '' ? day : day?.day}}</p></mat-grid-tile>
</mat-grid-list>

<app-note></app-note>

